.converter,
.events  {
  padding: 15px;
}

label {
  font-weight: 600;
  margin-right: 4px;
}

input {
  font-size: 14px;
  line-height: 18px;
}

.event-item {
  margin-bottom: 20px;
}

.event-title {
  font-weight: 600;
  font-size: 18px;
}

.event-details {
  font-size: 14px;
  font-style: italic;
  margin: 8px 0;
}

.event-time {
  font-family: monospace;
}